@CHARSET "ISO-8859-1";

* {
	margin: 0;
	padding: 0;
}

body {
	color: #333333;
	font-family: Arial, sans-serif;
	font-size: 12px;
	background-image: url("../img/grey_wash_wall.png");
	letter-spacing: 0.5px;
}

a {
	color: #333333;
	text-decoration: none;
}

a:HOVER {
	text-decoration: underline;
	color: #555555;
}

p {
	color: #a59999;
	margin-top: 8px;
}

h2 {
	font-size: 20px;
}

input[type="text"],input[type="password"] {
	font-size: 12px;
	padding: 7px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border: 1px solid #CCC;
	margin: 3px 0 0 10px;
	width: 272px;
	color: #a59999;
}

input[type="submit"] {
	padding: 5px 10px;
	float: right;
	margin: 5px 13px 0 0;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border: 1px solid #CCC;
	font-weight: bold;
	color: #7b7a7a;
}

input[type="submit"]:hover {
	cursor: pointer;
	background: #EEE;
}

.cadastro,.acesso {
	margin-top: 10px;
}

.topo {
	background: url("/web1/img/back-topo.png");
	height: 48px;
}

.topo .topo-central {
	width: 1150px;
	margin: 0 auto;
}

.topo .left {
	float: left;
	width: 200px;
	font-weight: bold;
	font-size: 20px;
	margin-top: 11px;
}

.topo .right {
	float: right;
	width: 200px;
	text-align: right;
	margin-top: 15px;
}

.wrapper {
	width: 850px;
	height: 325px;
	margin: 0 auto;
	margin-top: 120px;
}

.side-left {
	width: 525px;
	height: 100%;
	float: left;
	border: 1px solid #CCC;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-color: white;
}

.titulo-principal {
	float: left;
	width: 230px;
	margin: 70px 0 0 25px;
}

.imagem-principal {
	float: right;
	width: 240px;
	margin-top: -30px;
	margin-right: 10px;
}

.side-right {
	width: 310px;
	height: 100%;
	float: right;
}

.side-right-top {
	width: 100%;
	height: 118px; border : 1px solid #CCC;
	border-radius: 5px; -moz-border-radius : 5px; -webkit-border-radius :
	5px;
	background-color: white;
	border: 1px solid #CCC; border-radius : 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.acesso-left {
	float: left;
	padding: 12px 10px;
}

.acesso-right {
	float: right;
}

.side-right-bottom {
	width: 100%;
	height: 192px;
	border: 1px solid #CCC;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-color: white;
	margin-top: 13px;
}

.side-right-bottom .titulo {
	border-bottom: 1px solid #CCC;
	height:;
	padding: 10px;
	font-size: 16px;
}

.rodape {
	text-align: center;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 48px;
	font-size: 11px;
	color: #FFF;
}