<?xml version="1.0"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory name="web1">
		<!-- Database connection settings Desnecessário desde JDBC4 -->
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost/web1</property>
		<property name="connection.username">root</property>
		<property name="connection.password">root</property>
		<!-- JDBC connection pool -->
		<property name="connection.pool_size">2</property>
		<!-- dialeto SQL -->
		<property name="dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
		<!-- Exibir a saída SQL gerada pelo Hiberante -->
		<property name="show_sql">true</property>
		<!-- Apagar e recriar o banco ao iniciar a aplicação -->
		<property name="hbm2ddl.auto">update</property>
		<!-- schema locadora -->
		<property name="hibernate.default_schema">public</property>
		
		<!-- Indicação de classes persistentes -->
		<mapping class="br.unirn.exemplos.dominio.LogAcesso" />
		
	</session-factory>
</hibernate-configuration>
